.navbar{
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: top;
  flex-direction:row;
  gap: 20px;
  height: 5vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  
}